Makefile
Makefile.in
aclocal.m4
autom4te.cache
build/debian.changelog
build/debian.control
build/install-sh
build/missing
build/phool.spec
build/phool.dsc
./config.guess
./config.log
./config.status
./configure
doc/*.8.htm
doc/*.8.txt
doc/phool_api.pdf
doc/phool_api.phk
doc/phool_api.psf
doc/phool_xref.cfg
doc/phool_xref.phk
doc/phool_xref.psf
./phool
./phool.phk
./phool.psf
*.tar.gz
*.rpm

